/* ferebi yvelgan*/
  
  body {
    font-size: 18px;
    font-family: "Barlow";
    font-weight: 600;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fraunces";
    font-weight: 900;
  }
  
  div,
  span,
  body,
  html,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url("images/mobile/image-header.jpg");
    background-position: center center;
    background-size: cover;
    width: 375px;
    height: 538px;
  }
  
  .nav {
    padding-top: 32px;
    padding-bottom: 92px;
    color: white;
    position: relative;
  }
  
  .nav .hamburger-icon {
    cursor: pointer;
  }
  
  .visible-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
  }
  
  .nav-links {
    display: none;
    padding: 0 20px;
    position: absolute;
    width: calc(100% - 40px);
  }
  
  .nav-links.active {
    display: block;
  }
  
  .nav-links ul {
    background-color: white;
    width: 100%;
    list-style: none;
    padding: 45px 0;
    text-align: center;
    position: relative;
    margin-top: 52px;
  }
  
  .nav-links a {
    text-decoration: none;
    margin-bottom: 40px;
    display: inline-block;
    color: #24303E;
  }
  
  .nav-links li:last-child a {
    margin-bottom: 0;
  }
  
  .nav-links .btn-contact {
   
    font-family: "Fraunces";
    font-weight: 900;
    text-transform: uppercase;
    padding: 22px 32px;
    border-radius: 40px;
    background-color:  #FBD600;
    color: #24303E;
  }
  
  .nav-links ul::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -26px;
    width: 0;
    height: 0;
    border-bottom: 26px solid white;
    border-left: 26px solid transparent;
  }
  
  .hero {
    text-align: center;
    color: white;
    
  }
  
  .hero h1 {
    color: white;
    margin-bottom: 52px;
    font-size: 52px;
    text-transform: uppercase;
  }
  
  .hero i {
    margin-bottom: 134px;
    font-size: 52px;
  }
  
  .section {
    padding-top: 72px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
  }
  
  .image-wrapper img {
    max-width: 100%;
  }
  
  .section h2 {
   color: #24303E;
    margin-bottom: 36px;
    font-size: 32px;
  }
  
  .section .description {
    color: #808397;
    margin-bottom: 42px;
  }
  
  .section .btn-more {
    text-decoration: none;
    font-family: "Fraunces";
    font-weight: 900;
    text-transform: uppercase;
    color: #24303E;
    position: relative;
  }
  
  .section .btn-more::after {
    position: absolute;
    content: "";
    display: block;
    width: 120%;
    left: -10%;
    bottom: 0;
    height: 10px;
   background-color: #FBD600;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.8;
  }
  
  .section .btn-more-red::after {
    background-color: #FE7766;
  }
  
  .graphic-design-image-wrapper {
    background-image: url("images/mobile/image-graphic-design.jpg");
  }
  
  .photography-image-wrapper {
    background-image: url("images/mobile/image-photography.jpg");
  }
  
  .section-v2 {
    padding-top: 406px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: top center;

  }
  
  .section-v2 h2 {
    color: #052C3B;
   
  }
  
  .client-testimonials {
    padding-top: 66px;
    text-align: center;
  }
  
  .client-testimonials .testimonials-title {
    color: #A7AAAD;
    margin-bottom: 66px;
    text-transform: uppercase;
  }
  
  .testimonial {
    padding: 0 24px;
    margin-bottom: 70px;
  }
  
  .testimonial img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 42px;
  }
  
  .testimonial-description {
    color: #5B636D;
    margin-bottom: 42px;
  }
  
  .testimonial-author {
    font-family: "Fraunces";
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  .testimonial-author-title {
    color:#A7AAAD;
  }
  
  .bottom-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .bottom-images img {
    height: 100%;
  }
  
  .footer {
    color:#2C7566;
    padding: 78px 34px;
    background-color: #90D4C6;
  }
  
  .footer img {
    display: block;
    margin: 0 auto 50px;
  }
  
  .footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 88px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #458D7E;
    
  }
  
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons i {
    cursor: pointer;
    margin-right: 28px;
  }
  
  .social-icons i:last-child {
    margin-right: 0;
  }
  
  .desktop-links {
    display: none;
  }
  
  .transform-image-wrapper {
    background-image: url("images/mobile/image-transform.jpg");
  }
  
  .stand-out-image-wrapper {
    background-image: url("images/mobile/image-stand-out.jpg");
  }
  
  main  .image-wrapper {
    min-height: 310px;
    background-size: cover;
    background-position: center;
  }
  
  .bottom-milkbottles-image {
    background-image: url("images/mobile/image-gallery-milkbottles.jpg");
  }
  
  .bottom-orange-image {
    background-image: url("images/mobile/image-gallery-orange.jpg");
  }
  
  .bottom-cone-image {
    background-image: url("images/mobile/image-gallery-cone.jpg");
  }
  
  .bottom-cubes-image {
    background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
  }
  
  .bottom-images  .image-wrapper {
    background-size: cover;
    background-position: center;
    min-height: 188px;
  }
  .footer ul li a:hover,
    .social-icons i:hover {
      color: white;
      
    }
  
  @media screen and (min-width: 1440px) {
    .nav .hamburger-icon {
      display: none;
    }
  
    .desktop-links {
      display: block;
    }
  
    .desktop-links a {
      text-decoration: none;
      color: white;
      display: inline-block;
      margin-right: 55px;
    }
  
    .desktop-links a:last-child {
      margin-right: 0;
    }
  
    .visible-nav {
      padding: 0 40px;
    }
  
    .desktop-links .btn-contact {
      background-color: white;
      color: #24303E;
      font-family: "Fraunces";
      font-weight: 900;
      text-transform: uppercase;
      padding: 22px 32px;
      border-radius: 40px;
    }
  
    header {
      background-image: url("images/desktop/image-header.jpg");
      width: 1520px;
      height: 800px;
            }
  
    .hero h1 {
      margin-top: 128px;
      margin-bottom: 102px;
    }
  
    .hero i {
      margin-bottom: 324px;
    }
  
    main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .image-wrapper img {
      height: 100%;
    }
  
    .transform-your-brand-section {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  
    .transform-image-wrapper {
      grid-column: 3 / 5;
      grid-row: 1 / 2;
    }
  
    .stand-out-image-wrapper {
      grid-column: 1 / 3;
    }
  
    .stand-out-section {
      grid-column: 3 / 5;
    }
  
    .graphic-design-image-wrapper {
      grid-column: 1 / 3;
    }
  
    .photography-image-wrapper {
      grid-column: 3 / 5;
    }
  
    .client-testimonials {
      grid-column: 1 / 5;
    }
  
    .bottom-images {
      grid-column: 1 / 5;
    }
  
    .testimonials-wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    .bottom-images {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .bottom-images > .image-wrapper {
      min-height: 450px;
    }
  
    .bottom-milkbottles-image {
      background-image: url("images/desktop/image-gallery-milkbottles.jpg");
    }
  
    .bottom-orange-image {
      background-image: url("images/desktop/image-gallery-orange.jpg");
    }
  
    .bottom-cone-image {
      background-image: url("images/desktop/image-gallery-cone.jpg");
    }
  
    .bottom-cubes-image {
      background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
    }
  
    .transform-image-wrapper {
      background-image: url("images/desktop/image-transform.jpg");
    }
  
    .stand-out-image-wrapper {
      background-image: url("images/desktop/image-stand-out.jpg");
    }
  
    .graphic-design-image-wrapper {
      background-image: url("images/desktop/image-graphic-design.jpg");
    }
  
    .photography-image-wrapper {
      background-image: url("images/desktop/image-photography.jpg");
    }
  
    .section {
      text-align: left;
      padding: 170px 125px;
    }
  
    .section-v2 {
      text-align: center;
      padding-top: 408px;
    }
  
    .section-v2 .description {
      max-width: 330px;
      margin: 0 auto;
    }
  
    .testimonial-description {
      max-width: 340px;
      margin: 0 auto;
    }
    .footer li a {
      display: flex;
      gap: 57px;
    }
  
    .footer ul li a:hover,
    .social-icons i:hover {
      color: white;
      
    }
  
    .btn-contact:hover {
      background-color: rgba(255, 255, 255, 0.4);
      color: white;
    }
  }